<div class="header_content d-flex flex-row align-items-center">
  <!-- Logo -->
  <div class="logo_container">
      <div class="logo">
          <img src="#" alt="">
          <span><a href="{% url 'home' %}">STUDY ZONE</a></span>
      </div>
  </div>

   


  <!-- Main Navigation -->
  <nav class="main_nav_container">
    <div class="main_nav">
        <ul class="main_nav_list">
            <li class="main_nav_item"><a href="#">about us</a></li>
            <li class="main_nav_item"><a href="{% url 'locations' %}">Study areas</a></li>
            <li class="main_nav_item"><a href="#">Top Places</a></li>
            <li class="main_nav_item"><a href="contact.html">contact</a></li>
        </ul>
       
    </div>
  </nav>
</div>
